acme==4.1.1
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.4.0
autobahn==24.4.2
Automat==25.4.16
boto3==1.39.9
botocore==1.39.9
celery==5.4.0
certifi==2025.7.14
cffi==1.17.1
channels==4.0.0
channels-redis==4.2.0
charset-normalizer==3.4.2
django-celery-beat==2.7.0
django-celery-results==2.5.1
kombu==5.4.2
colorama==0.4.6
ConfigArgParse==1.7.1
configobj==5.0.9
constantly==23.10.4
cryptography==45.0.5
daphne==4.2.1
distro==1.9.0
Django==5.1.5
django-cors-headers==4.9.0
django-countries==7.6.1
django-filter==25.1
django-jazzmin==3.0.1
django-storages==1.14.4
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
gunicorn==22.0.0
uvicorn[standard]==0.34.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inflection==0.5.1
jmespath==1.0.1
josepy==2.1.0
msgpack==1.1.2
packaging==24.2
parsedatetime==2.6
pillow==11.1.0
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.10.1
pyOpenSSL==25.1.0
pyparsing==3.2.3
pyRFC3339==2.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
qrcode==8.0
redis==5.0.1
requests==2.32.4
s3transfer==0.13.1
sentry-sdk==2.35.2
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.3
stripe==13.2.0
tomli==2.3.0
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
zope.interface==8.0.1
